h1{
    color:black;
    padding-bottom: 30px;
}

#titulo {
    color: rgb(255, 145, 0);
    text-align: center;
    font-size: 70px;
    margin-bottom: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.menu {
    background-color: rgb(255, 145, 0);
    overflow: hidden;
    padding-left: 30px;

}

.menu a {
    display: block;
    float: left;
    text-decoration: none;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight:bold;
    padding: 20px;
}

a:hover {
    color: rgb(128, 32, 192);
}

main {
    padding: 50px;
}

.indexContent {
    background: linear-gradient(to bottom,  rgb(255, 234, 206), white);
}

body{
    height: 100vh;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 10%;
    line-height:25px;
    /* background: linear-gradient(to bottom, white, rgb(205, 243, 255)); */
}

ol{
    list-style-type: circle;
}

a {
    text-decoration: none;
    color:rgb(255, 81, 0);
}

.bold {
    font-weight: bold;
    padding-top: 30px;
}

.indexContent img {
    display: block;
    margin: 50px auto;
    width: 900px;
}

.categoryBody img {
    width: 200px;
}

.categoryBody ul {
    list-style-type: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.categoryBody li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-bottom: 2em;
}

.categoryBody a {
    color: black;
}



@media (max-width:900px){
    img {
        max-width: 100%;
    }
    body {
        padding: 15px 5%;
    }

}

.detailBody1 .detailCategory img {
    width: 300px;
    display: inline;
}

.detailCategory div {
    float: left;
    margin-right: 150px;
}

.detailCategory a {
    color: black;
}

.detailBody1 header h1{
    color: rgb(163, 0, 0);
}

.detailBody1 {
    background-color: rgb(255, 234, 206);
}

.detailBody1 img{
    display: block;
    margin: auto;
    width: 600px;
}

ol .fa-solid {
    color:red;
}

.fa-leaf {
    color:green;
}

.retorn {
    display: block;
    margin-top: 400px;
    font-weight: bold;
}
